* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header {
    padding: 20px 70px 20px 32px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.menu-button {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}
.menu-line {
    display: block;
    background-color: #1F2022;
    width: 20px;
    height: 3px;
    border-radius: 20px;
}
.logo {
    margin-right: 59px;
}
.input-group {
    background-color: #EBEBEB;
    border-radius: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
}
.search-input {
    background-color: transparent;
    border: none;
    padding: 12px 23px;
    width: 100%;
}
.button-search {
    padding: 0;
    width: 19px;
    height: 19px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.icon-search {
    fill: #1F2022;
}

.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icons-link {
    text-decoration: none;
}
.icons-link:not(:last-child) {
    margin-right: 50px;
}

.icon-video,
.icon-combo,
.iocn-notification {
    opacity: 0.24;
    transition: opacity .3s;
}
.icon-video:hover:hover,
.icon-combo:hover:hover,
.iocn-notification:hover {
    opacity: 0.8;
}

.user {
    margin-left: 45px;
}
.user-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.container {
}
.sidebar {
    padding-left: 32px;
}
.nav {
}
.nav-menu {
    margin-top: 0;
    margin-bottom: 60px;
    padding-left: 0;
    list-style-type: none;
}
.nav-item {
    margin-bottom: 28px;
    color: #898989;
}
.nav-item .icon {
    fill: #898989;
}
.nav-text {
    margin-left: 13px;
}
.nav-link {
    color: #898989;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.3s;
}
.nav-link .icon {
    transition: all 0.3s;
}
.nav-link:hover {
    color: #FF0000;
}

.nav-link:hover .icon {
    fill: #FF0000;
}
.icon {
}
.nav-trending {
}
.icon-subscriptions {
}

.nav-image {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;
}
.nav-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 30px;
}